{% extends 'base.html' %}

{% block content %}
<main>
    <div class="login-containter">
        <h1>Login or Sign Up Here</h1>
        <form action="/login" method="POST">
            <div class="question">
                <label for="login">To review courses or take the quiz, create an account</label>
                <textarea id="login" name="login" rows="1" placeholder="Enter Swarthmore email (ex. 'chanson2@swarthmore.edu')"></textarea>
            </div>
            <button type="submit" class="cta-button">Sign Up</button>
            <p>OR</p>
            <div class="question">
                <label for="login">Returning user? Enter your Swarthmore ID prefix to login</label>
                <textarea id="login" name="login" rows="1" placeholder="Enter Swarthmore ID prefix (ex. 'chanson2')"></textarea>
            </div>
            <button type="submit" class="cta-button">Login</button>
        </form>
    </div>
</main>
{% endblock %}