{% extends 'base.html' %}

{% block content %}
<main>
    <div class="login-containter">
        <h1>Login or Sign Up Here</h1>
        <form action="/login" method="POST">
            <div class="question">
                <label for="login">To review courses or take the quiz, create an account</label>
                <textarea id="login" name="login" rows="1" placeholder="Enter Swarthmore email prefix"></textarea>
            </div>
            <button type="submit" class="cta-button">Sign Up</button>
            <p>

            </p>
            <div class="question">
                <label for="login">Returning user? Enter your Swarthmore ID prefix to login</label>
                <textarea id="login" name="login" rows="1" placeholder="Enter Swat ID prefix (ex. 'student1')"></textarea>
            </div>
            <button type="submit" class="cta-button">Login</button>
        </form>
        
    </div>
</main>

<!-- Add the necessary links to the CSS and JS files -->
<link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
{% endblock %}